extends layout

block content
  include notes
  form#email-val
    label(for="email") Email validation
    input#email(type="text", name="email", value="test@testmail.com")
    #canvas

  form#publish(method="POST", action="/publish")
    input(type="hidden", name="column_id", value="2")
    label(for="text") Text
    textarea(name="text")
    input(type="submit")
