#notes
  each column in columns
    .column(data-id=column.dataValues.id)
      .column-title #{column.dataValues.name}
      .column-body
        .note-list
          each row in column.dataValues.rows
            .note(data-id=row.dataValues.id) #{row.dataValues.text}
